body {
  font-family: 微软雅黑;
  font-size: 12px;
  color: #333;
}
body .fullpage .section {
  height: 100%;
  text-align: center;
}
body .fullpage .section-one {
  background: linear-gradient(to bottom, #4f7f9b, #293c55);
}
body .fullpage .section-one .year {
  color: #fff;
  margin-top: 100px;
}
body .fullpage .section-one .year .number {
  display: inline-block;
  width: 70px;
  height: 70px;
  border: 5px solid #aa314d;
  font-size: 48px;
  border-radius: 50%;
  margin-left: 5px;
  margin-right: 5px;
}
body .fullpage .section-one h1 {
  color: #fff;
  font-size: 48px;
  margin-top: 40px;
  padding: 10px;
  border: 8px solid #aa314d;
  border-radius: 15px;
  width: 386px;
  display: inline-block;
}
body .fullpage .section-one img {
  margin-top: 143px;
}
body .fullpage .section-two {
  background-color: #f0f4fa;
}
body .fullpage .section-two p {
  font-size: 48px;
  color: #707d8d;
}
body .fullpage .section-two .career-chart {
  width: 650px;
  height: 500px;
  margin: 50px auto;
}
body,
a,
h1,
h2,
h3,
h4,
h5,
h6,
dl,
dt,
dd,
ul,
li,
th,
td,
p,
button,
input,
select,
textarea {
    margin: 0;
    padding: 0;
    border: 0;
}

b,
em,
i,
strong,
th {
    font-style: normal;
    font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 100%;
    font-weight: 400;
}

button,
input,
select,
textarea {
    font-family: inherit;
    font-size: 100%;
}

input {
    background-color: #fff;
}

img {
    border: 0;
}

ul {
    list-style: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

th {
    text-align: left;
}

button::-moz-focus-inner {
    border: 0;
    padding: 0;
}

:focus {
    outline: 0;
}