body {
  font-family: 微软雅黑;
  font-size: 12px;
  color: #333;
}
body .fullpage .section {
  height: 100%;
  text-align: center;
}
body .fullpage .section p {
  font-size: 48px;
  color: #707d8d;
}
body .fullpage .section-one {
  background: linear-gradient(to bottom, #4f7f9b, #293c55);
}
body .fullpage .section-one .year {
  color: #fff;
  margin-top: 100px;
}
body .fullpage .section-one .year .number {
  display: inline-block;
  width: 70px;
  height: 70px;
  border: 5px solid #aa314d;
  font-size: 48px;
  border-radius: 50%;
  margin-left: 5px;
  margin-right: 5px;
}
body .fullpage .section-one h1 {
  color: #fff;
  font-size: 48px;
  margin-top: 40px;
  padding: 10px;
  border: 8px solid #aa314d;
  border-radius: 15px;
  width: 386px;
  display: inline-block;
}
body .fullpage .section-one img {
  margin-top: 143px;
  width: 100%;
}
body .fullpage .section-two {
  background-color: #f0f4fa;
}
body .fullpage .section-two .tags-list {
  position: relative;
  width: 1000px;
  height: 500px;
  margin: 0 auto;
}
body .fullpage .section-two .tags-list .person {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #aa314d;
  color: #fff;
  border: 5px solid #707d8d;
  border-radius: 50%;
  width: 90px;
  height: 30px;
  padding: 35px 5px;
}
body .fullpage .section-three {
  background-color: #f0f4fa;
}
body .fullpage .section-three .career-chart {
  width: 650px;
  height: 500px;
  margin: 50px auto;
}
body .fullpage .section-four .personal-chart,
body .fullpage .section-five .personal-chart {
  width: 40%;
  height: 300px;
  display: inline-block;
}
body .fullpage .section-six {
  position: relative;
  background-color: #777;
}
body .fullpage .section-six #maxItemsName {
  width: 100%;
  height: 500px;
}
body .fullpage .section-six p {
  font-size: 36px;
  padding-top: 15px;
  padding-bottom: 15px;
}
body .fullpage .section-six .position {
  position: absolute;
  bottom: 30px;
  right: 30px;
}
body .fullpage .section-seven {
  background-color: #f0f4fa;
}
body .fullpage .section-seven .pause {
  display: inline-block;
  margin-right: 5px;
  color: red;
  transform: rotate(-7deg);
}
body .fullpage .section-seven .pause-h1 {
  font-size: 48px;
  color: #707d8d;
  margin-top: -100px;
}
body .fullpage .section-seven .pause-text {
  font-size: 20px;
  line-height: 36px;
}
body .fullpage .red {
  color: red;
}
body .fullpage .section-eight {
  background-color: #f0f4fa;
}
body .fullpage .section-eight .lt,
body .fullpage .section-eight .rt {
  float: left;
  margin-top: 50px;
  width: 50%;
  height: 500px;
}
body .fullpage .section-eight .completeItems-h1 {
  font-size: 48px;
  color: #707d8d;
}
body .fullpage .section-eight .completeItems-text {
  text-align: left;
  margin-left: 45%;
  font-size: 20px;
  line-height: 36px;
}
body .fullpage .section-nine {
  background-color: #f0f4fa;
}
body .fullpage .section-nine .labels-h1 {
  font-size: 48px;
  color: #707d8d;
}
body .fullpage .section-nine #labelsItems {
  margin: 0 auto;
  height: 500px;
  width: 70%;
}
body .fullpage .section-ten .color-chart {
  width: 33%;
  height: 300px;
  text-align: center;
  display: inline-block;
}
body .fullpage .section-ten .color-chart canvas {
  width: 100% !important;
}
body .fullpage .section-eleven #labelsItemsL {
  width: 100%;
  height: 500px;
}
body .fullpage .section-end {
  font-family: dulcinea;
  font-size: 144px;
  color: #aa314d;
  background-color: #707d8d;
  font-weight: bold;
}
@font-face {
  font-family: 'dulcinea';
  src: url('../font/dulcinea.otf') format('opentype');
}
body,
a,
h1,
h2,
h3,
h4,
h5,
h6,
dl,
dt,
dd,
ul,
li,
th,
td,
p,
button,
input,
select,
textarea {
    margin: 0;
    padding: 0;
    border: 0;
}

b,
em,
i,
strong,
th {
    font-style: normal;
    font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 100%;
    font-weight: 400;
}

button,
input,
select,
textarea {
    font-family: inherit;
    font-size: 100%;
}

input {
    background-color: #fff;
}

img {
    border: 0;
}

ul {
    list-style: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

th {
    text-align: left;
}

button::-moz-focus-inner {
    border: 0;
    padding: 0;
}

:focus {
    outline: 0;
}